.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 1px solid whitesmoke;
    text-align: center;
    border-radius: 0;
}

.cell:hover {
    cursor: pointer;
}
