@import 'tailwindcss';

*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --color-white: #e1e2e2;
}

body {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color-scheme: light dark;

    background-color: #242424;
    color: var(--color-white);
}
